<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit <%= blog.name %></h1>
        <form action="/blog/<%=blog._id%>_method=PUT" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" value="<%= blog.name %>" />

            <label for="aboutMe">About Me</label>
            <input type="text" name="aboutMe" id="aboutMe" />

            <label for="myBlogs">Blogs</label>
            <input type="text" name="myBlogs" id="myBlogs" />

            <button type="submit">Update Blog</button>
        </form>
    <a href="/blog/">Back to Blogs</a>
</body>
</html>