<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    <h1>Start a Blog</h1>
    <a href="/blog/">Back to Blogs</a>
    <div class="new body">
        <form action="/blog" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required />

            <label for="aboutMe">About Me</label>
            <textarea name="aboutMe" id="aboutMe" required></textarea>

            <label for="image">Image URL</label>
            <input type="url" name="image" id="image">

            <button type="submit">Post Blog</button>
        </form>
    </div>
</body>
</html>